.text-zone{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  max-width: 500px;
}


.container-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: flex-start;
  height: 10vh;
  padding-top: 0;
  padding-right: 30px;
  animation: ease-in;
  max-width: 1200px; /* Set a maximum width for the container to limit the number of cards per row */
  margin: 0 auto; /* Center the container horizontally */
  margin-left: 700px; /* Add margin to the left side to move the cards to the right */

}

.card {
  margin: 0 auto; // horizontally center the card within the container
  text-align: center; // center the text inside the card
  animation: ease-in;
}